<%namespace file="macros.html" import="*"/>
<!DOCTYPE html>
<html>
  <head>
      <title>Braindead Chores</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link href="${ url_for('static', filename='bootstrap/css/bootstrap.min.css') }" rel="stylesheet" media="screen">
      <link href="${ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }" rel="stylesheet" media="screen">
      <link href="${ url_for('static', filename='css/styles.css') }" rel="stylesheet">

      <script type="text/javascript" src="${ url_for('static', filename='js/jquery.min.js') }"></script>

      <!-- bootstrap widget theme -->
      <link href="${ url_for('static', filename='css/theme.bootstrap.css') }" rel="stylesheet">

  </head>
  <body>
    <h1>Braindead Chores</h1>
    <hr>

    <%block name="content"/>

    <script type="text/javascript" src="${ url_for('static', filename='bootstrap/js/bootstrap.min.js') }"></script>
    <script type="text/javascript">
    // add hahs to url for direct linking
    // From http://stackoverflow.com/questions/12131273/twitter-bootstrap-tabs-url-doesnt-change
    $(function(){
      var hash = window.location.hash;
      hash && $('ul.nav a[href="' + hash + '"]').tab('show');

      $('.nav-tabs a').click(function (e) {
        $(this).tab('show');
        var scrollmem = $('body').scrollTop();
        window.location.hash = this.hash;
        $('html,body').scrollTop(scrollmem);
      });
    });
    </script>
  </body>
</html>
